@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Zen Maru Gothic";
    src: url("../fonts/ZenMaruGothic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Tienne";
    src: url("../fonts/Tienne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-Regular.ttf") format("truetype");
}
