// ブレイクポイントを指定
$sp: 430px;
$ss: 390px;
$sm: 375px;
$se: 368px;

//全ページ共通

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin ss {
    @media screen and (max-width: ($ss)) {
        @content;
    }
}
@mixin sm {
    @media screen and (max-width: ($sm)) {
        @content;
    }
}
@mixin se {
    @media screen and (max-width: ($se)) {
        @content;
    }
}
